<div *ngIf="pitScoutingSaved" fxLayout="column" fxLayoutAlign="start start" style="height: 850px">

  <div fxLayout="row" style="height: 200px">
    <google-chart [type]="'Gauge'" [data]="dtMotors" [options]="dtMotorsOptions"></google-chart>
    <google-chart [type]="'Gauge'" [data]="robotDimensions" [options]="robotDimensionsOptions"></google-chart>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" style="height: 200px">

    <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 900px">
      <div style="width: 400px; ; text-align: center" >
        wheel type
        <span class="text-data">
<!--          3-->
          {{ robotWeight }}
<!--        {{ wheelType }}-->
      </span>
      </div>

      <div style="width: 400px; text-align: center">
        drive train
        <span class="text-data">
        {{ driveTrain }}
      </span>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 900px">
          <div style="width: 400px; text-align: center">
            DT Motor Type
            <span class="text-data">
              {{ dtMotorType }}
            </span>
          </div>

          <div style="width: 400px; text-align: center">
            programming language
            <span class="text-data">
              {{ programmingLanguage }}
            </span>
          </div>
    </div>

  </div>

</div>
<div *ngIf="!pitScoutingSaved">No Data</div>



