.saved {
  color: red;
}

.unsaved {
  color: blue;
}

.text-data {
  font-size: 30px;
  font-weight: bold;
  color: brown;
}

.boolean-data {
  font-size: 30px;
  font-weight: bold;
  color: blue;
}

.data-box {
  width: 250px;
  height: 90px;
}

.section-head {
  //margin-top: 30px;
  color: blue;
}
