.select-panel {
  width: 1000px;
  height: 60px;
  background-color: antiquewhite;
}

.tournament-select {
  width: 100px;
}

.team-select {
  width: 300px;
}

.saved {
  color: blue;
}

.unsaved {
  color: red;
}

.data-panel {
  width: 1000px;
}

