.select-panel {
  padding-top: 10px;
  width: 1100px;
  height: 70px;
  border: groove;
}

.panel {
  padding-top: 25px;
  width: 1100px;
  height: 900px;
  border: groove;
}
.set-all {
  padding-top: 10px;
  width: 1200px;
  height: 1000px;
}

.tournament-select {
  width: 100px;
}

.team-select {
  width: 300px;
}

.saved {
  color: blue;
}

.unsaved {
  color: red;
}



