<div fxLayout="column" fxLayoutAlign="start center">

  <div *ngIf="!ourTeam">
    The Home team is not in either alliance
  </div>

  <div *ngIf="ourTeam">
  </div>

  <mat-table [dataSource]="climbPlan" class="climb-planner-table">

    <ng-container matColumnDef="teamNumber">
      <mat-header-cell *matHeaderCellDef class="teamNumber"> Robot Number </mat-header-cell>
      <mat-cell *matCellDef="let element" class="teamNumber"> {{element.robotClimbData.teamNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef class="robotWeight"> Robot Weight </mat-header-cell>
      <mat-cell *matCellDef="let element" class="robotWeight"> {{element.robotClimbData.robotWeight}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="climbRange">
      <mat-header-cell *matHeaderCellDef class="climbRange"> Climb  Range </mat-header-cell>
      <mat-cell *matCellDef="let element" class="climbRange">
        <span *ngIf="element.robotClimbData.canClimb === true">
          {{element.robotClimbData.minClimbHeight}} - {{ element.robotClimbData.maxClimbHeight }}
        </span>
        <span *ngIf="element.robotClimbData.canClimb === false">
          Can't Climb
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef class="distance"> Distance from  Center [cm] </mat-header-cell>
      <mat-cell *matCellDef="let element; let rowIndex = index" class="distance">
        <input matInput [value]="(element.climbDistance * 100).toString()" (change)="changeDistance(rowIndex, $event)">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef class="actions"> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element; let rowIndex = index" class="actions">
        <button *ngIf="rowIndex  !== 2" mat-raised-button id="edit-button" color="primary"
                class="action-button"
                (click)="swapDown(rowIndex)">
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef class="result"> Plan Result </mat-header-cell>
      <mat-cell *matCellDef="let element; let rowIndex = index" class="result">
        <div *ngIf="rowIndex === 0" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span>{{ state1.success? 'Climb succeeded' : 'Climb failed' }}</span>
            <span [className]="state1.barAngle / 3.14 * 180 < 8 ? 'bar-leveled' : 'bar-unLeveled'" >
              {{ state1.barAngle / 3.14 * 180 | number: '1.2-2'}}
            </span>
          </div>
          <app-pre-game-climb-planner-state [swingState]="state1"></app-pre-game-climb-planner-state>
        </div>
        <div *ngIf="rowIndex === 1" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span>{{ state2.success? 'Climb succeeded' : 'Climb failed' }}</span>
            <span [className]="state2.barAngle / 3.14 * 180 < 8 ? 'bar-leveled' : 'bar-unLeveled'" >
              {{ state2.barAngle / 3.14 * 180 | number: '1.2-2'}}
            </span>
          </div>
          <app-pre-game-climb-planner-state [swingState]="state2"></app-pre-game-climb-planner-state>
        </div>
        <div *ngIf="rowIndex === 2" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span>{{ state3.success? 'Climb succeeded' : 'Climb failed' }}</span>
            <span [className]="state3.barAngle / 3.14 * 180 < 8 ? 'bar-leveled' : 'bar-unLeveled'" >
              {{ state3.barAngle / 3.14 * 180 | number: '1.2-2'}}
            </span>
          </div>
          <app-pre-game-climb-planner-state [swingState]="state3"></app-pre-game-climb-planner-state>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
