<div *ngIf="games.length > 0" fxLayout="column" fxLayoutAlign="start center">

  <h2 class="section-head">Summary Data</h2>

  <div fxLayout="row" fxLayoutAlign="space-around" fxFlexFill>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label>games played</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.gamesPlayed }}</h2>
    </div>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label>total Teleop upper Score</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">
        {{ processedGames.teleopTotalUpperScore }} / {{ processedGames.teleopTotalUpperShots }}
      </h2>
    </div>

  </div>

  <div fxLayout="row">

    <div fxLayout="column" fxLayoutAlign="start">
      <mat-checkbox [checked]="teleopInnerSelect" (change)="teleopInnerSelect = !teleopInnerSelect; drawTeleopScores()">inner</mat-checkbox>
      <mat-checkbox [checked]="teleopOuterSelect" (change)="teleopOuterSelect = !teleopOuterSelect; drawTeleopScores()">outer</mat-checkbox>
      <mat-checkbox [checked]="teleopUpperSelect" (change)="teleopUpperSelect = !teleopUpperSelect; drawTeleopScores()">upper</mat-checkbox>
      <mat-checkbox [checked]="teleopBottomSelect" (change)="teleopBottomSelect = !teleopBottomSelect; drawTeleopScores()">bottom</mat-checkbox>


    </div>

    <div class="chart-wrapper">
      <canvas baseChart
              [datasets]="teleopScoreData"
              [labels]="teleopScoreLabels"
              [options]="teleopScoreOptions"
              [colors]="teleopScoreColors"
              [legend]="teleopScoreLegend"
              [chartType]="teleopScoreType"
              [plugins]="teleopScorePlugins">
      </canvas>
    </div>

  </div>



</div>

<div *ngIf="games.length == 0" fxLayout="column" fxLayoutAlign="start center">
  No Data
</div>
