<div fxLayout="row" fxLayoutAlign="space-around" fxFlexFill class="data-box">

  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50" class="data-box">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Inner total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.blueInnerAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Outer total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.blueOuterAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Bottom total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.blueBottomAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Game pieces AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.blueTotalScore| number:'1.2-2'}}</h2>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueAutoInnerAVGVector"
                [labels]="blueTeams"
                [colors]="innerLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueAutoOuterAVGVector"
                [labels]="blueTeams"
                [colors]="outerLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueAutoBottomAVGVector"
                [labels]="blueTeams"
                [colors]="bottomLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueAutoTotalScoreVector"
                [labels]="blueTeams"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend">
        </canvas>
      </div>

    </div>

    </div>
<!--  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="10" ></div>-->
  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Inner total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.redInnerAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Outer total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.redOuterAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Bottom total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.redBottomAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Game pieces AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.redTotalScore| number:'1.2-2'}}</h2>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="redAutoInnerAVGVector"
                [labels]="redTeams"
                [colors]="innerLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="redAutoOuterAVGVector"
                [labels]="redTeams"
                [colors]="outerLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="redAutoBottomAVGVector"
                [labels]="redTeams"
                [colors]="bottomLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="redAutoTotalScoreVector"
                [labels]="redTeams"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend">
        </canvas>
      </div>

    </div>

  </div >

</div>


