<div fxLayout="column" fxLayoutAlign="start center" >

  <form [formGroup]="gameNumberForm">
    <mat-form-field>
      <input matInput formControlName="gameNumber" placeholder="game Number" >
    </mat-form-field>

    <button mat-raised-button (click)="gameSelected()" style="margin-left: 20px">Select</button>
  </form>

  <div fxLayout="row" fxFlexFill>

    <div fxLayout="column" fxLayoutAlign="start center" fxFlex>

      <div fxLayout="row" fxLayoutAlign="space-around" fxFlexFill>
        <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
          <label fxFlexAlign="center">Alliance inner AVG</label>
          <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexFill>{{ blueAutoInnerAVG }}</h2>
        </div>

        <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
          <label fxFlexAlign="center">Alliance outer AVG</label>
          <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexFill>{{ blueAutoOuterAVG }}</h2>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="blueAutoOuterAVGVector"
                  [labels]="blueTeams"
                  [colors]="outerLineColor"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>

        <div style="display: block">
          <canvas baseChart
                  [datasets]="blueAutoInnerAVGVector"
                  [labels]="blueTeams"
                  [colors]="innerLineColor"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="space-around">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="blueAutoBottomAVGVector"
                  [labels]="blueTeams"
                  [colors]="bottomLineColor"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>

      </div>

    </div>

    <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
      <h2 style="color: red">Red Teams</h2>
      <div fxLayout="row" fxLayoutAlign="space-around" style="width:400px; color: red">
        <h3> {{ redTeams[0] }} </h3>
        <h3> {{ redTeams[1] }} </h3>
        <h3> {{ redTeams[2] }} </h3>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around" fxFlexFill>
        <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
          <label fxFlexAlign="center">Predicted score</label>
          <h2 fxLayout="column" fxLayoutAlign="start center">{{ redScore }}</h2>
        </div>

        <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
          <label fxFlexAlign="center">Predicted score</label>
          <h2 fxLayout="column" fxLayoutAlign="start center">{{ redWinPercent }}%</h2>
        </div>
      </div>


      <div style="display: block">
        <canvas baseChart
                [datasets]="redTeamsScores"
                [labels]="redTeams"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

    </div >

  </div>

  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>



</div>
