
<div *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="start center" >

  <div fxLayout="row" fxFlexFill>

    <div fxLayout="column" fxFlex="50">

      <div fxLayout="row" fxFlex>
        <h2 fxFlexAlign="center" fxFlex="80" style="text-align: center">First Pick</h2>
        <div fxFlex="20">
          <button mat-fab color="warn" (click)="open1stScoreDialog()">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </div>

      <div class="wrapper" fxLayout="column" fxLayoutAlign="start center">

        <div class="rank-list header" fxLayout="row" fxLayoutAlign="center">
          <span class="rank-item">Select</span>
          <span class="rank-item">Re-order</span>
          <span class="rank-item">Team Number</span>
          <span class="rank-item">auto</span>
          <span class="rank-item">teleop</span>
          <span class="rank-item">end game</span>
          <span class="rank-item">Total</span>
        </div>

        <div cdkDropList class="rank-list" (cdkDropListDropped)="dropItem(firstRankingList, $event)">
          <div cdkDrag class="rank-block" *ngFor="let rank of firstRankingList">

            <ng-container class="rank-item">
              <span class="rank-item">
                <mat-checkbox [checked]="rank['selected']" (change)="select($event, rank)"></mat-checkbox>
              </span>
            </ng-container>

            <ng-container>
              <button mat-raised-button color="primary"
                      [disabled]="rank['selected']"
                      (click)="reArrange(firstRankingList, rank)">
                <mat-icon>show_chart</mat-icon>
              </button>
            </ng-container>

            <ng-container>
              <span class="rank-item">
                {{ rank.teamNumber }}
              </span>
            </ng-container>

            <ng-container>
              <span class="rank-item">
              {{ rank.score.autoScore | number: '1.2-2'}}
              </span>
            </ng-container>

            <ng-container>
              <span class="rank-item">
              {{ rank.score.teleopScore | number: '1.2-2'}}
              </span>
            </ng-container>

            <ng-container>
              <span class="rank-item">
              {{ rank.score.endGameScore | number: '1.2-2'}}
              </span>
            </ng-container>

            <ng-container class="rank-item">
              <span class="rank-item">
              {{ rank.score.totalScore | number: '1.2-2'}}
              </span>
            </ng-container>

          </div>
        </div>
      </div>
    </div>

    <div fxLayout="column" fxFlex="50">

      <div fxLayout="row" fxFlex>
        <h2 fxFlexAlign="center" fxFlex="80" style="text-align: center">Second Pick</h2>
        <div fxFlex="20">
          <button mat-fab color="warn" (click)="open2ndScoreDialog()">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </div>

      <div class="wrapper" fxLayout="column" fxLayoutAlign="start center">

        <div class="rank-list header" fxLayout="row" fxLayoutAlign="center">
          <span class="rank-item">Select</span>
          <span class="rank-item">Re-order</span>
          <span class="rank-item">Team Number</span>
          <span class="rank-item">auto</span>
          <span class="rank-item">teleop</span>
          <span class="rank-item">end game</span>
          <span class="rank-item">Total</span>
        </div>

        <div cdkDropList class="rank-list" (cdkDropListDropped)="dropItem(secondRankingList, $event)">
          <div cdkDrag class="rank-block" *ngFor="let rank of secondRankingList">

            <ng-container class="rank-item">
              <span class="rank-item">
                <mat-checkbox [checked]="rank['selected']" (change)="select($event, rank)"></mat-checkbox>
              </span>
            </ng-container>

            <ng-container>
              <button mat-raised-button color="primary"
                      [disabled]="rank['selected']"
                      (click)="reArrange(secondRankingList, rank)">
                <mat-icon>show_chart</mat-icon>
              </button>
            </ng-container>

            <ng-container>
              <span class="rank-item">
                {{ rank.teamNumber }}
              </span>
            </ng-container>

            <ng-container>
              <span class="rank-item">
              {{ rank.score.autoScore | number: '1.2-2'}}
              </span>
            </ng-container>

            <ng-container>
              <span class="rank-item">
              {{ rank.score.teleopScore | number: '1.2-2'}}
              </span>
            </ng-container>

            <ng-container>
              <span class="rank-item">
              {{ rank.score.endGameScore | number: '1.2-2'}}
              </span>
            </ng-container>

            <ng-container class="rank-item">
              <span class="rank-item">
              {{ rank.score.totalScore | number: '1.2-2'}}
              </span>
            </ng-container>

          </div>
        </div>

      </div>



    </div>
  </div>

</div>
