<div fxLayout="column" fxLayoutAlign="start center">

  <div class="set-all" align="center">
    <div class="select-panel" fxLayout="row" >

      {{ selectedTeamNumber }} - {{ selectedTeamName }}

      <mat-form-field *ngIf="selectedTournament" style="width: 200px; margin-left: auto; margin-right: auto" >
        <mat-label>Team Select</mat-label>
        <mat-select [(value)]="selectedTeam">
          <mat-option *ngFor="let team of teams | async" [value]="team" (click)="teamSelect(team)">
          <span [className]="team.pit_scouting_saved ? 'saved' : 'unsaved'">
            {{ team.teamNumber }} - {{ team.team_name }}
          </span>
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div *ngIf="selectedTeamNumber" fxFlexFill style="float: left">
<!--      <h1> {{ selectedTeamNumber }} - {{ selectedTeamName }}</h1>-->

      <mat-tab-group>

        <mat-tab label="Games Summary">
          <app-team-game-scouting-summary [tournament]="selectedTournament" [teamNumber]="selectedTeamNumber"
                                          [games]="games" [processedGames]="processedGames"
          ></app-team-game-scouting-summary>
        </mat-tab>

        <mat-tab label="Autonomous">
          <app-team-game-scouting-auto [tournament]="selectedTournament" [teamNumber]="selectedTeamNumber" [matchesAmount]="matchesAmount"></app-team-game-scouting-auto>
        </mat-tab>

        <mat-tab label="Teleop">
          <app-team-game-scouting-teleop [tournament]="selectedTournament" [teamNumber]="selectedTeamNumber" [matchesAmount]="matchesAmount"></app-team-game-scouting-teleop>
        </mat-tab>

        <mat-tab label="Hot zones">
          <app-upper-hot-zones [tournament]="selectedTournament" [teamNumbers]="selectedTeamArray" [matchesAmount]="matchesAmount"></app-upper-hot-zones>
        </mat-tab>

        <mat-tab label="End game">
          <app-team-game-scouting-end-game [tournament]="selectedTournament" [teamNumber]="selectedTeamNumber"
                                           [games]="games" [processedGames]="processedGames"
          ></app-team-game-scouting-end-game>
        </mat-tab>

        <mat-tab label="Pit Scouting">
          <app-pit-scouting-page [tournament]="selectedTournament" [teamNumber]="selectedTeamNumber"></app-pit-scouting-page>
        </mat-tab>

        <mat-tab label="Super Scouting">
          <app-super-scouting-page [tournament]="selectedTournament" [teamNumber]="selectedTeamNumber"></app-super-scouting-page>
        </mat-tab>


      </mat-tab-group>
    </div>
  </div>
</div>
