<div fxLayout="column" fxFlexFill class="page-wrap sticky-footer-layout">
  <mat-toolbar  class="mat-theme-loaded-marker" color="primary">
      <mat-toolbar-row>
        <span> TRIGON Scouting Viewer</span>

        <span fxFlex="1 1 auto"></span>

        <button *ngIf="!authUser" mat-button [routerLink]="['login']">
          <mat-icon>person_outline</mat-icon>
        </button>
        <button *ngIf="authUser" mat-button [matMenuTriggerFor]="logoutMenu">
          <mat-icon>person</mat-icon>
          {{ userName }}
        </button>

        <mat-menu #logoutMenu="matMenu">
          <button mat-menu-item (click)="logout()">logout</button>
        </mat-menu>

      </mat-toolbar-row>
  </mat-toolbar>

  <main>
    <div fxLayout="row" fxFlexFill>
      <div class="nav-panel" fxLayout="column" fxLayoutAlign="start start">
        <button mat-button [routerLink]="['']">Home</button>
        <button mat-button [routerLink]="['pre-game']" [disabled]="!selectedTournament">Pre Game</button>
        <button mat-button [routerLink]="['alliance-selection']" [disabled]="!selectedTournament">Alliance Selection </button>
        <button mat-button [routerLink]="['full_team_data']" [disabled]="!selectedTournament">Full Team Data </button>
        <button mat-button [routerLink]="['users-management']" [disabled]="!isAdmin">Users Management </button>

        <mat-form-field style="margin-left: 15px; margin-top: 20px">
          <mat-label class="tournament-select">Tournament Select</mat-label>
          <mat-select [(value)]="selectedTournament" class="tournament-select">
            <mat-option *ngFor="let tournament of tournaments | async" [value]="tournament" (click)="tournamentSelect(tournament)" >
              <span>{{ tournament }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-left: 15px; margin-top: 20px">
          <mat-label class="tournament-select">Home Team Number</mat-label>
          <input matInput (change)="homeTeamChange($event)" [value]="homeTeam">
        </mat-form-field>
      </div>

<!--      <div class="main-panel" fxFlex fxLayout="column" fxLayoutAlign="start center">-->
      <div class="main-panel" fxFlex>
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

</div>
