<canvas width="400" height="400" #canvas>

</canvas>

<button mat-raised-button (click)="clear()">Clear</button>
<form [formGroup]="testForm" (submit)="calc()" fxLayout="row">

  <div fxLayout="column" >
    <label  for="m1">m1</label>
    <input formControlName="m1" id="m1">
    <label  for="d1">d1</label>
    <input formControlName="d1" id="d1">
  </div>

  <div fxLayout="column">
    <label  for="m2">m2</label>
    <input formControlName="m2" id="m2">
    <label  for="d2">d2</label>
    <input formControlName="d2" id="d2">
  </div>

  <div fxLayout="column">
    <label  for="m3">m3</label>
    <input formControlName="m3" id="m3">
    <label  for="d3">d3</label>
    <input formControlName="d3" id="d3">
  </div>

  <button type="submit">Submit</button>
</form>

{{ angleDeg }}
<button (click)="suggest()">Suggest</button>
