.select-panel {
  width: 400px;
  height: 1000px;
  background-color: antiquewhite;
}

.tournament-select {
  width: 100px;
}

.team-select {
  width: 300px;
}

.selected {
  color: white;
  background-color: black;
}

.unSelected {
  color: black;
  background-color: antiquewhite;

}

.data-panel {
  width: 1000px;
}
