<div fxLayout="row">

  <div class="select-panel" fxLayout="row" style="float: left">

    <mat-list class="tournament-select" style="float: left">
      <mat-list-item *ngFor="let tournament of tournaments | async" (click)="tournamentSelect(tournament)">
        <span [className]="tournament == selectedTournament ? 'selected' : 'unSelected'">
          {{ tournament }}
        </span>
      </mat-list-item>
    </mat-list>

    <mat-list class="team-select" style="float: left">
      <mat-list-item *ngFor="let team of teams | async" (click)="teamSelect(team)">
        <span [className]="team == selectedTeam ? 'selected' : 'unSelected'">
          {{ team.teamNumber }} - {{ team.team_name }}
        </span>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="selectedTeam" class="data-panel" style="float: left">
    <h1> {{ selectedTeam.teamNumber }} - {{ selectedTeam.team_name }}</h1>
    <mat-tab-group>
      <mat-tab label="General Info">General Info</mat-tab>
      <mat-tab label="Pit Scouting">Pit Scouting Data</mat-tab>
      <mat-tab label="Super Scouting">Super Scouting Data</mat-tab>
      <mat-tab label="Games">Games Data</mat-tab>
    </mat-tab-group>
  </div>
</div>
