<div *ngIf="games.length > 0" fxLayout="column" fxLayoutAlign="start center">

  <h2 class="section-head"></h2>

  <div fxLayout="row" fxLayoutAlign="space-around" fxFlexFill>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label fxFlexAlign="center">Games played</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.gamesPlayed }}</h2>
    </div>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label fxFlexAlign="center">Games won</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.gamesWon }}</h2>
    </div>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label fxFlexAlign="center">Average Score</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.avgGameScore | number:'1.2-2'}}</h2>
    </div>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label fxFlexAlign="center">Predicted Score</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.predictedGameScore | number:'1.2-2'}}</h2>
    </div>

<!--    <div class="chart-wrapper">-->
<!--      <canvas baseChart-->
<!--              [datasets]="gamesScoreData"-->
<!--              [labels]="gamesLabels"-->
<!--              [options]="lineChartOptions"-->
<!--              [colors]="lineChartColors"-->
<!--              [legend]="lineChartLegend"-->
<!--              [chartType]="lineChartType"-->
<!--              [plugins]="lineChartPlugins">-->
<!--      </canvas>-->
<!--    </div>-->

  </div>

  <div fxLayout="row" fxLayoutAlign="space-around" fxFlexFill>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label fxFlexAlign="center">Total game pieces</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.totalGamePieces }}</h2>
    </div>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label fxFlexAlign="center">Total shoots</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.totalShoots }}</h2>
    </div>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label fxFlexAlign="center">Shoots success percent</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.totalSuccessPercent }}%</h2>
    </div>

    <div class="data-box" fxLayout="column" fxLayoutAlign="start start">
      <label fxFlexAlign="center">Climb success percent</label>
      <h2 fxLayout="column" fxLayoutAlign="start center">{{ processedGames.climbSuccess | number: '1.2-2'}}%</h2>
    </div>

  </div>

</div>

<div *ngIf="games.length == 0" fxLayout="column" fxLayoutAlign="start center">
  No Data
</div>
