.section-head {
  //margin-top: 30px;
  color: blue;
}

.chart-wrapper {
  width: 400px;
  height: 200px;
}

.data-box{
  height: auto!important;
}

.height-fix {
  height: 330px!important;
  min-height: 330px!important;
}
