<div fxLayout="row" fxLayoutAlign="space-around" fxFlexFill class="data-box">

  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50" class="data-box">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Inner total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.blueInnerAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Outer total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.blueOuterAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Bottom total AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.blueBottomAVG| number:'1.2-2'}}</h2>
      </div>

      <div class="data-box" fxLayout="column" fxLayoutAlign="center start" fxFlex>
        <label fxFlexAlign="center">Game pieces AVG</label>
        <h2 fxLayout="column" fxLayoutAlign="start center" fxFlexAlign="center">{{ this.blueTotalScore| number:'1.2-2'}}</h2>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueInnerAVGBar"
                [labels]="blueTeams"
                [colors]="innerLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
        <label fxFlexAlign="center">Inner</label>
        <div style="display: block" fxFlex>
          <canvas baseChart
                  [datasets]="blueInnerVector"
                  [labels]="gamesList"
                  [colors]="lineChartColors"
                  [options]="lineChartOptions"
                  [plugins]="lineChartPlugins"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType">
          </canvas>
        </div>
      </div>


    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueOuterAVGBar"
                [labels]="blueTeams"
                [colors]="outerLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
        <label fxFlexAlign="center">Outer</label>
        <div style="display: block" fxFlex>
          <canvas baseChart
                  [datasets]="blueOuterVector"
                  [labels]="gamesList"
                  [colors]="lineChartColors"
                  [options]="lineChartOptions"
                  [plugins]="lineChartPlugins"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType">
          </canvas>
        </div>

      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueBottomAVGBar"
                [labels]="blueTeams"
                [colors]="bottomLineColor"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
        <label fxFlexAlign="center">Bottom</label>
        <div style="display: block" fxFlex>
          <canvas baseChart
                  [datasets]="blueBottomVector"
                  [labels]="gamesList"
                  [colors]="lineChartColors"
                  [options]="lineChartOptions"
                  [plugins]="lineChartPlugins"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType">
          </canvas>
        </div>

      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill class="height-fix">

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueScoreBar"
                [labels]="blueTeams"
                [colors]="lineChartColors"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>

      <div style="display: block" fxFlex>
        <canvas baseChart
                [datasets]="blueTotalScorePie"
                [labels]="blueTeams"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend">
        </canvas>
      </div>

    </div>


  </div>

  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50">
    <h2 style="color: red">Red Teams</h2>
  </div >

</div>


