<div  fxLayout="row">

  <div fxFlex="30" fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="start center" style="max-width: 200px">
      <h4>Legend</h4>
      <canvas width="200" height="200" #legend  style="padding: 0">
      </canvas>
    </div>
  </div>

  <div fxFlex="70" fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="start center" style="max-width: 600px">
      <h4>Upper Hot Zones</h4>
      <canvas width="600" height="300" #field  style="padding: 10px">
      </canvas>
    </div>
  </div>

</div>

